.form-group.required .control-label:before {
	color: red;
	content: "*";
	position: absolute;
	margin-left: -10px;
	/* font-family: 'Glyphicons Halflings';
	font-weight: normal;
	font-size: 10px; */
}