<div class="container">
  <h1>Create a new contact</h1>
  
  <span style="color:red" ng-show="error">**{{error.errorMsg}}**</span>

  <form class="form-horizontal" name="newContactForm" novalidate >
    <div class="control-group">
      <label class="control-label" for="inputFirstName">First Name:</label>

      <div class="controls">
        <input type="text" name="inputFirstName" ng-model="contact.firstName" placeholder="First Name" required />
        <span style="color:red" ng-show="newContactForm.inputFirstName.$touched && newContactForm.inputFirstName.$invalid">The first name is required.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLastName">Last Name:</label>

      <div class="controls">
        <input type="text" name="inputLastName" ng-model="contact.lastName" placeholder="Last Name" required />
        <span style="color:red" ng-show="newContactForm.inputLastName.$touched && newContactForm.inputLastName.$invalid">The last name is required.</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email:</label>

      <div class="controls">
        <input type="email" name="inputEmail" ng-model="contact.email" placeholder="xxxxxx@xxxxxx.xxx" required />
        <span style="color:red" ng-show="newContactForm.inputEmail.$dirty && newContactForm.inputEmail.$invalid">
			<span ng-show="newContactForm.inputEmail.$error.required">Email is required.</span>
			<span ng-show="newContactForm.inputEmail.$error.email">Invalid email address.</span>
		</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputPhone">Phone Number:</label>

      <div class="controls">
        <input type="text" name="inputPhone" ng-model="contact.phone" ui-mask="(999) 999-9999" />
        <span style="color:red" ng-show="newContactForm.inputPhone.$touched && newContactForm.inputPhone.$invalid">Phone number format is (000)000-0000</span>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls" style="margin-top:16px">
        <a ng-click="createNewContact()" class="btn btn-small btn-primary" 
        	ng-disabled="newContactForm.inputFirstName.$invalid || newContactForm.inputLastName.$invalid ||
					newContactForm.inputEmail.$invalid || newContactForm.inputPhone.$invalid">Create New Contact</a>
      </div>
    </div>
  </form>
</div>