<div class="row">
	<span style="color:green" ng-show="info">info</span>
    <br>
    <div class="container">
        <div id="contactList" class="col-sm-offset-1 col-sm-10">
            <div class="input-group">
                <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query" required="required"/>
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </span>
            </div>
            <div class="list-group">
                <div class="list-group-item">
	                <table class="table table-striped table-condensed">
 					    <thead>
					      <tr>
					        <th class="list-group-item-heading">Contact Name</th>
					        <th class="list-group-item-heading">Email</th>
					        <th class="list-group-item-heading">Phone</th>
					      </tr>
					    </thead> 
					    <tbody>
					      <tr ng-repeat="contact in contacts | filter:query"  style="margin-top:16px">
					        <td class="list-group-item-heading">{{contact.firstName}} {{contact.lastName}}</td>
					        <td class="list-group-item-text"><i class="glyphicon glyphicon-envelope"></i> {{contact.email}}</td>
					        <td class="list-group-item-text"><i class="glyphicon glyphicon-phone-alt"></i> {{contact.phone}}</td>
					      </tr>
					    </tbody>
					</table>
                </div>
            </div>
            
            <a ng-click="createNewContact()" class="btn btn-small">Create New Contact</a>
        </div>
    </div>
</div>